* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  background-color: #601277;
}
input {
  padding-left: 10px;
  width: 80%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 9px;
}
h2 {
  color: white;
  padding: 20px;
}
div.ContainerCidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #be69b0;
  color: white;
  padding: 20px;
}
div.ContainerCidade p {
  font-weight: bold;
  margin: 5px 0;
  padding: 20px;
}

.pesquise-texto {
  color: #eee1ddff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  background-color: #9b3da3ff;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
